* {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 3%;
    padding-right: 3%;
}
nav {
    display: inline-block;
    
}

li {
    float: right;
    border-right: 1px solid #bbb;

}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);

}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#9AD0DC;
  }

h1 {
    
    font-style: italic;
    color: #9AD0DC;
}
